.sidenav-container {
    height: 100%;

    .sidenav {
        width: 18rem;
        box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);

        // .mat-toolbar {
        //     background: inherit;
        // }
    }

    // .mat-toolbar.mat-primary {
    //     position: sticky;
    //     top: 0;
    //     z-index: 1;
    //     height: 4rem;
    // }
}
